.cabecalho-moda{
    background-color: #BB86FC;
}

.cabecalho-casa{
    background-color: #00C4B4;
}

.dados{
    background-color: #424250;
}

td, th{
    font-size: 24px;
    color: #ffffff;
    padding: 10px;
}

h2{
    font-size: 30px;
}